/* -- main start -- */
body {
  background-color: rgb(179, 191, 185);
  margin: 0;
}

section {
  margin: 7px 15px;
  background-color: whitesmoke;
  padding: 20px 15px;
}

ul li {
  /* 去除前面的点 */
  list-style: none;
}

.gray {
  color: gray;
}

p {
  text-indent: 30px;
}
/* -- main end -- */

/* -- nav start -- */
nav {
  background-color: rgba(42, 40, 48, 0.99);
  height: 60px;
}

nav img {
  margin-left: 40px;
}

nav ul {
  /* 浮动到右侧 */
  float: right;
  /* 垂直居中 */
  margin-top: 20px;
}

nav li {
  /* 显示在同一行 */
  display: inline-block;
  margin-right: 10px;
}

nav li a {
  /* 去除a标签的下划线 */
  text-decoration: none;
  color: whitesmoke;
}
/* -- nav end -- */

/* -- image start -- */
.image {
  font-size: 10px;
  margin-left: 60px;
  margin-bottom: 10px;
  padding: 7px;
  width: 100px;
  height: 100%;
  border: 1px gray solid;
}

.image p {
  text-indent: 0;
  text-align: center;
  margin: 0 0 7px 0;
}

.image img {
  width: 100%;
  height: 70%；
}
/* -- image end -- */

/* -- table start -- */
#table, th, td {
  border: 1px gray solid;
  /* 去除th table td 间的边距*/
  border-collapse: collapse;
}

#table th, td {
  padding: 5px;
}

#table th {
  background-color: rgb(34, 38, 36);
  color: whitesmoke;
}

#table tfoot {
  background-color: lightgray;
  font-weight: bolder;;
}

#table {
  width: 100%;
  text-align: left;
}
/* -- table end -- */

/* -- form start -- */
form table tr td{
  border: none;
}

form table {
  margin: 0 auto;
}

input {
  height: 20px;
}

form tr td:nth-child(1) {
  text-align: right;
  vertical-align: text-top;
}

/* 单选和多选按钮垂直居中 */
input[type="radio"], input[type="checkbox"]{
  vertical-align:middle;
}

input[type="button"] {
  width: 100%;
  margin: 5px auto;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(29, 67, 117);
  border: none;
  color: white;
}
/* -- form end -- */

/* -- footer start -- */
footer {
  background-color: rgb(28, 32, 32);
  color: whitesmoke;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
/* -- footer end -- */
