/* -- main start -- */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
/* -- main end -- */

/* -- container start -- */
#container {
  width: 520px;
  height: 520px;
  border: 2px black solid;
  margin: 50px 0 0 50px;
  position: relative;
}

#container>div:not(#square) {
  width: 50px;
  height: 50px;
  border: 1px lightgray solid;
  float: left;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

.top {
  position: relative;
  top: -50px;
}

.left {
  position: relative;
  left: -50px;
}

.fix {
  position: relative;
  top: -50px;
  left: 5px;
}
/* -- container end -- */

/* -- panel start -- */
#panel {
  float: right;
  position: relative;
  left: -300px;
}

#panel ul li span {
  font-weight: 600;
  display: inline-block;
  width: 100px;
}

input {
  width: 200px;
  height: 30px;
  border: 1px gray solid;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  outline: none;
  margin-right: 10px;
}

input:focus {
  border: 1px rgb(52, 179, 14) solid;
}

button {
  margin: 10px 10px 0 0;
  padding: 5px;
  height: 32px;
  background-color: rgb(97, 219, 91);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
/* -- panel end -- */

/* -- square start -- */
#square {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 261px;
  left: 209px;
}

#head {
  width: 50px;
  height: 10px;
  background-color: blue;
}

#body {
  width: 50px;
  height: 40px;
  background-color: red;
}
/* -- square end -- */
